//carousel
.carousel-control-prev {
  span {
    i {
      font-size: $fs-4;
      color: $color-black-0;
    }
  }
}
.carousel-control-next {
  span {
    i {
      font-size: $fs-4;
      color: $color-black-0;
    }
  }
}

.owl-carousel {
  .owl-nav {
    button {
      &.owl-prev,&.owl-next {
        font-size: $fs-1 + 4;
        color: $color-black-0;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: $color-white-0;
        line-height: 25px;
        text-align: center;
        position: absolute;
        top: 33%;
        box-shadow: 0 2px 8px 2px $color-gray-0;
      }
      &.owl-prev {
        left: -2.5%;
      }
      &.owl-next {
        right: -2.5%;
      }
    }
  }
}