//carousel
.carousel-control-prev {
  span {
    i {
      font-size: $fs-4;
      color: $color-black-0;
    }
  }
}
.carousel-control-next {
  span {
    i {
      font-size: $fs-4;
      color: $color-black-0;
    }
  }
}