.login {
  .login__content {

    width: 40%;
    margin: 0 auto;
    .nav-tabs {
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      //border-bottom: 2px solid $color-gray-1;
      .nav-item {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        .nav-link {
          width: 100%;
          border: none;
          margin-bottom: 0;
          @include styleText($color-black-0,$fs-1,$fw-2);
          &.active {
            border-bottom: 3px solid $color-brown-0;
          }
        }
      }
    }
    #loginPage {
      #login {
        form {
          font-family: "Inter", sans-serif;
          #email, #password {
            display: block;
            width: 100%;
            padding: $pd-0;
            margin: $pd-0 - 5 0;
          }
          #remem {
            text-align: left;
            margin-top: $pd-3 - 10;
            width: 18px;
            height: 18px;
          }
          #rememberMe {
            @include styleText($color-black-0,$fs-1, $fw-0);
          }
          label {
            margin-top: $pd-1;
            @include styleText($color-black-0,$fs-0 - 3, $fw-1);
            span {
              color: $color-red-0;
            }
          }
          button {
            display: block;
            width: 100%;
            @include styleButton($color-black-1, $color-gray-2, $color-gray-2,$fs-1,$fw-1,$pd-0,0);
            border-radius: 2px;
            margin: $pd-3 0;
          }
        }
      }
    }
  }
}