@mixin styleText($color, $font-size, $font-weight) {
    color: $color;
    font-size: $font-size;
    font-weight: $font-weight;
  }

  @mixin styleButton($color,$bg-color,$border,$font-size,$font-weight,$pd-y,$pd-x) {
    color: $color;
    background-color: $bg-color;
    border: 1px solid $border;
    font-size: $font-size;
    font-weight: $font-weight;
    padding: $pd-y $pd-x;
    cursor: pointer;
    transition: 0.5s;
  }

@mixin responsive($screen) {
  @if map-has-key($map: $breakpoints, $key: $screen) {
    $value: map-get($map:$breakpoints, $key:$screen);
    @media screen and (max-width: $value) {
      @content
    }
  }
  @else {
    @warn "`{$screen}` is not a valid for `#{$breakpoints}`.";
  }
}
  