//font size
$fs-0 : 15px;
$fs-1 : 18px;
$fs-2 : 24px;
$fs-3 : 42px;
$fs-4 : 30px;






//color
$color-black-0: #181818;
$color-black-light : rgba(100, 92, 92, 0.39);
$color-brown-0: #8A7350;
$color-white-0: #fff;
$color-border-0: rgba(20,23,28,0.05);
$color-gray-0: #A2A2A2;
$color-pink-0: #f72585;
$color-gray-1: #E6E7EB;
$color-white-1: #FAFAFA;
$color-red-0: #880808;
$color-black-1: #3b4048;
$color-gray-2: #bdc1c5;
$color-gray-3: #E3E3E5;
$color-gray-4: #f2f2f2;

//font weight
$fw-0: normal;
$fw-1: 600;
$fw-2: 700;
$fw-3: 900;
$fw-4: 500;
$fw-5: 400;

//padding
$pd-0: 10px;
$pd-1: 20px;
$pd-3: 40px;
$pd-4: 200px;
//margin
$mg-0: 40px;

//line height
$lh-0: 2;

//break point
$breakpoints : (
    'extra-large': 1200px,
    'large': 992px,
    'medium': 768px,
    'small': 576px,
);