.national {
  .national__content {
    width: 95%;
    margin: 0 auto;
    margin-top: $mg-0;
    .national__carousel {
      .owl-nav button {
        display: none;
      }
      .owl-dots {
        .owl-dot {
          span {
            margin: 5px 0;
            width: 640px;
            height: 5px;
            border-radius: 0;
          }
          &.active span {
            background-color: $color-black-0;
          }
        }
        button:first-child span{
          border-radius: 3px 0 0 3px;
        }
        button:last-child span{
          border-radius: 0 3px 3px 0;
        }
      }
      .national-img {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: center;
        .national-img-detail {
          margin: 0 auto;
          width: 280px;
          height: 280px;

          position: relative;
          &:hover .national-item-detail {
            opacity: 1;
          }

          .national-item-detail {
            padding: $pd-0 + 10;
            width: 100%;
            height: 100%;
            background-color: $color-black-light;
            opacity: 0;
            transition: 0.5s;
            position: absolute;
            top: 0;
            left: 0;

            display: flex;
            justify-content: center;
            align-items: center;
            button {
              font-family: "Anta", sans-serif;
              @include styleButton($color-brown-0, $color-white-0, $color-white-0,$fs-1,$fw-1,$pd-0 - 5, $pd-0 + 2);
              border-radius: 4px;
              transition: 0.5s;
              &:hover {
                background-color: $color-brown-0;
                color: $color-white-0;
                border: 1px solid $color-brown-0;
              }
              &:hover a {
                color: $color-white-0;
              }
              a {
                color: $color-brown-0;
                text-decoration: none;
              }
            }
          }
        }
        .national-price {
          font-family: "Inter", sans-serif;
          margin: 10px 0;
          width: 100%;
          // display: flex;
          justify-content: space-between;
          h6 {
            @include styleText($color-black-0, $fs-1, $fw-1);
            span {
              @include styleText($color-black-0, $fs-0, $fw-0);
              text-decoration: line-through;
            }
          }
          div {
            span {
              font-size: $fs-1;
              cursor: pointer;
              &:hover i {
                background-color: $color-gray-3;
              }
              i {
                width: 30px;
                height: 30px;
                text-align: center;
                line-height: 30px;
                border-radius: 50%;
                transition: 0.5s;
              }
            }
            span:last-child {
              margin-left: $pd-0 - 5;
            }
          }
        }
        p {
        
          @include styleText($color-black-0, $fs-0, $fw-1);
        }
      }
    }
  }
}
@media screen and (max-width: 1350px) {
  .national .national__content .national__carousel .owl-nav button {
    display: block;
  }
  .owl-theme .owl-dots {
    display: none;
  }
}

@media screen and (max-width: 902px) {
  .national .national__content .national__carousel .national-img .national-price {
    width: 280px;
  }
  .national .national__content .national__carousel .national-img p {
    width: 280px;
  }
}