.search {
  transform: translateY(-150%);
  overflow: hidden;
  position: fixed;
  z-index: 90;
  width: 100%;
  background-color: $color-white-0;
  transition: 0.5s;

  border-bottom: 0.5px solid $color-black-0;
  height: 400px;
  width: 100%;
  .search__content{
    margin: 0 auto;
    width: 95%;
    .search-trending {
      h3 {
        @include styleText($color-black-0,$fs-1 + 2, $fw-1);
        margin: $pd-0 0;
      }
      .trend-list {
        display: flex;
        flex-direction: column;
        list-style: none;
        height: 320px;
        .trend-item {
          flex-basis: 20%;
          margin: 5px 0;
          width: 50%;
          .trend-link {
            display: flex;
            align-items: center;
            text-decoration: none;
            background-color: $color-gray-4;
            padding:5px;
            img {
              width: 50px;
              height: 50px;
              margin-right: $pd-0;
            }
            p {
              @include styleText($color-black-0, $fs-0, $fw-1);
              margin-bottom: 0;
            }
          }
        }
      }
    }
    .search-suggest {
      padding-left: $mg-0;
      h3 {
        @include styleText($color-black-0,$fs-1 + 2, $fw-1);
        margin: $pd-0 0;
      }
      .trend-list {
        display: flex;
        flex-direction: column;
        list-style: none;
        height: 320px;
        .trend-item {
          flex-basis: 20%;
          margin: 5px 0;
          width: 50%;
          .trend-link {
            display: flex;
            align-items: center;
            text-decoration: none;
            background-color: $color-gray-4;
            padding:5px;
            img {
              width: 50px;
              height: 50px;
              margin-right: $pd-0;
            }
            p {
              @include styleText($color-black-0, $fs-0, $fw-1);
              margin-bottom: 0;
            }
          }
        }
      }
    }
    .close-search {
      margin: 10px 0;
      i {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        font-size: 20px;
        text-align: center;
        line-height: 30px;
        &:hover {
          color: red;
          background-color: $color-gray-4;
        }
      }
    }
  }
}