.updating {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  .updating__content {
    i {
      font-size: 80px;
    }
    h1 {
      @include styleText($color-gray-0, $fs-3, $fw-1);
    }
  }
}